.DS_Store
node_modules/*
npm-debug.log
systems/*/emulators
systems/*/games/*
profiles.json
igdb.json
twitch.json
twitch-stream.json
settings.json
browser-gamepad.json
systems/stream/stream-info.json
systems_tmp/*