[Desktop Entry]
Type=Application
Exec=bash -c "xhost + local:; sudo npm --prefix=~/guystation start"
Icon=guystation.png
Hidden=false
X-GNOME-Autostart-enabled=true
Name=GuyStation
