@font-face {
    font-family: 'blinker';
    src: url('/assets/Blinker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'toy-train';
    src: url('/assets/Toy-Train.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'blinker', sans-serif;
    background-color: #191919;
    color: white;
    transition: background-color 1s;
    font-size: 30px;
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
}

body.modal-open {
    background-color: black;
}

h1 {
    position: absolute;
    top: 25%;
    transform: translateY( -100% );
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 60px;
    user-select: none;
    font-family: "toy-train";
    font-weight: 100;
}

#systems {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.system {
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX( -50% )translateY( -50% );
    transition: opacity 0.5s, left 0.5s;
    opacity: 0.5;
    user-select: none;
}

.system.selected {
    opacity: 1;
}

.system.selected img {
    animation: wiggle 1s infinite;
    transform-origin: center center;
}

.system.no-transition {
    transition: none;
}

.system img {
    width: 175px;
    cursor: pointer;
    filter: invert(1);
    position: relative;
    z-index: 100;
}

.system.selected .game:not(.above) {
    cursor: pointer;
}

.games {
    height: 0;
    transition: opacity 0.5s, top 0.5s;
    margin-top: 20px;
    position: relative;
    top: 0;
    opacity: 0;
    cursor: default;
}

.system.selected .games {
    opacity: 1;
}

.game {
    padding: 10px;
    border-radius: 10px;
    opacity: 0.5;
    transition: opacity 0.5s;
    height: 50px;
    width: 400px;
}

.game.selected {
    opacity: 1;
}

.game.above {
    opacity: 0;
}

.game.hidden, .hidden {
    display: none !important;
}

.game[data-is-playlist] .game-title::after {
    font-family: "Font Awesome 5 Free";
    content: "\f001";
    font-weight: 900;
    margin-left: 10px;
    font-size: 70%;
    vertical-align: middle;
}

.game[data-is-folder] .game-title::before {
    margin-right: 10px;
    display: inline-flex;
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-weight: 900;
    font-size: 70%;
    vertical-align: middle;
    transition: transform 0.25s;
    transform-origin: center;
}

.game[data-is-folder].children-showing .game-title::before {
    transform: rotate(90deg);
}

.game.playing .game-title::before {
    font-family: "Font Awesome 5 Free";
    content: "\f11b";
    font-weight: 900;
    margin-right: 10px;
    font-size: 70%;
    vertical-align: middle;
}

.game, .game-folder, .current-save, .game-title {
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Marquee for long titles */
.game-marquee {
    animation: marquee linear infinite; /* duration and time are calcualted in the JS */
    padding-left: calc(100% + 10px); /* start the animation at 410px from 0*/
    display: table;
}

.game-marquee-header {
    animation: marquee-header linear infinite;
    transform: translateY(-100%);
    width: 0;
}

.game-folder { 
    font-size: 45%;
}

.game-folder + .game-title {
    font-size: 75%;
}

.current-save {
    font-size: 70%;
}

.game-folder ~ .current-save {
    font-size: 55%;
}

.current-save::before {
    content: "save: ";
}

#ip {
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
}

#ip::before {
    content: "http://";
}

#search {
    position: absolute;
    margin: 10px 0 !important;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 997;
}

#time {
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    user-select: none;
}

.modal, .dying-modal {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)translateX(-50%);
    left: 50%;
    background-color: #191919;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 25px;
    max-height: 80%;
    overflow: auto;
    max-width: 100vw;
    box-sizing: border-box;
    z-index: 999;
}

.modal > div, .dying-modal > div {
    padding: 20px;
}

.modal > div::after, .dying-modal > div::after {
    clear: both;
    content: " ";
    display: block;
}

.modal-shown, .dying-modal .modal-shown {
    opacity: 1;
}

.modal label, .dying-modal label {
    display: block;
    padding: 5px;
}

.modal > * > label > span, .dying-modal > * > label > span {
    width: 205px;
    display: inline-block;
}

.modal label > input, .modal label > select, .dying-modal label > input, .dying-modal label > select, #search {
    font-size: 24px;
    font-family: blinker;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.modal button, .dying-modal button, #functions button {
    float: right;
    margin-top: 2px;
    background-color: white;
    color: #191919;
    border-radius: 5px;
    padding: 8px;
    font-family: blinker;
    font-size: 100%;
    margin-left: 10px;
    width: 220px;
    cursor: pointer;
    transition: opacity 0.5s;
    border: none;
}

#power-options-form button {
    width: 100%;
    margin-left: 0;
}

#functions button {
    display: inline-block;
    float: none;
    vertical-align: bottom;
}

#game-functions, #save-functions, #more-functions {
    background-color: white;
    text-align: center;
    color: #191919;
    margin-top: 2px;
    background-color: white;
    color: #191919;
    border-radius: 5px;
    padding: 8px;
    font-family: blinker;
    font-size: 100%;
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
}

.function-title {
    padding: 8px;
}

.function-row {
    display: inline-block;
}

#game-functions button, #save-functions button, #more-functions button {
    display: inline-block;
    width: 52px;
    margin-left: 0;
    margin-top: 0;
}

.modal button.inactive, .dying-modal button.inactive, #functions button.inactive {
    opacity: 0.5;
}

.modal h2, .dying-modal h2 {
    text-align: center;
    margin: 10px;
}

.modal .warning, .dying-modal .warning {
    font-style: italic;
    padding: 5px;
    font-size: 80%;
    margin-top: 10px;
}

.toast {
    position: absolute;
    z-index: 1000;
    top: 10%;
    padding: 20px;
    background-color: white;
    color: #191919;
    border-radius: 25px;
    opacity: 0;
    transition: opacity 0.5s;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.toast-shown {
    opacity: 1;
}

#functions {
    position: absolute;
    padding: 5px;
    bottom: 0;
    right: 0;
    text-align: center;
    transform: translateX(97%); /* ~24px shown */
    width: 876px; /* 58px to add another icon */
    transition: transform 0.5s, width 0.5s;
    z-index: 998;
}

#functions.open {
    transform: translateX(0);
}

.screenshot {
    position: absolute;
    width: 20%;
    bottom: 0;
    transform: translateY(100%);
    opacity: 1;
    animation: fade 5s;
    animation-timing-function: linear;
    pointer-events: none;
    user-select: none;
}

#browser-controls-form {
    position: relative;
    min-width: 900px;
}

#browser-controls-form video {
    position: relative;
    margin: 10px auto;
    display: block;
    clear: both;
    width: 720px;
    height: 400px;
}

#browser-controls-form #scroll-up, #browser-controls-form #scroll-down, 
#browser-controls-form #go-back, #browser-controls-form #go-forward {
    width: 80px;
    position: absolute;
    height: 58px;
    margin: 0;
}

#browser-controls-form #scroll-up, #browser-controls-form #scroll-down {
    left: calc(50% + 360px);
}

#browser-controls-form #scroll-up {
    bottom: 372px;
}

#browser-controls-form #scroll-down {
    bottom: 29px;
}

#browser-controls-form #go-back, #browser-controls-form #go-forward {
    transform: translateX(-100%);
    left: calc(50% - 360px);
}

#browser-controls-form #go-back {
    bottom: 372px;
}

#browser-controls-form #go-forward {
    bottom: 301px;
}

#browser-controls-form #address-bar {
    min-width: calc( 100% - 205px );
}

#browser-controls-form #browser-tabs {
    clear: both;
    margin: 5px;
    padding-top: 15px;
    margin-bottom: 0;
}

#browser-controls-form .browser-tab.active {
    opacity: 1;
}

#browser-controls-form .browser-tab, #browser-controls-form #add-tab {
    display: inline-block;
    width: 150px;
    font-size: 60%;
    color: #191919;
    background-color: white;
    opacity: 0.5;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    height: 21px;
    padding-right: 20px;
    position: relative;
    transition: opacity 0.5s;
}

#browser-controls-form #add-tab {
    width: 21px;
    padding-right: 8px;
    text-align: center;
    opacity: 1;
}

#browser-controls-form .browser-tab-quit {
    float: right;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#remote-media-placeholder {
    display: none;
}

#remote-media-form video, #remote-media-form-screenshots img  {
    width: 100%;
    min-width: 200px;
}

#remote-media-form #previous-media, #remote-media-form #next-media, #remote-media-form-screenshots #previous-screenshot, #remote-media-form-screenshots #next-screenshot {
    width: 80px;
    height: 58px;
    margin: 10px 0 0 0;
}

#remote-media-form #previous-media, #remote-media-form-screenshots #previous-screenshot {
    float: left;
}

#remote-media-form #next-media, #remote-media-form-screenshots #next-screenshot {
    float: right
}

.position-indicator {
    text-align: center;
    margin-top: 20px;
}

#folder-select-container label, #old-folder-select-container label, .playlist-select-container label {
    display: inline-block;
    padding: 0;
}

#folder-select-container label span, #old-folder-select-container label span, .playlist-select-container label span {
    display: none;
}

#playlist-container label span:not(.playlist-select-container) {
    display: none;
}

#remote-screencast-form video {
    width: 550px;
}

.game-preview {
    position: absolute;
    top: 7%;
    right: 0;
    width: 500px;
    background-color: rgba(65, 65, 65, 0.85);
    padding: 20px;
    border-radius: 25px 0 0 25px;
    transform: translateX(100%);
    transition: 1s;
    cursor: pointer;
}

.game-preview-shown {
    transform: translateX(56%);
}

.game-preview-shown.game-preview-clicked {
    transform: translateX(0%);
}

.game-preview img {
    float: left;
    padding: 0 20px 0 0;
    width: 200px;
}

.game-preview-title {
    font-size: 100%;
}

.game-preview-release-date {
    font-size: 75%;
}

.game-preview-release-date::before {
    content: "Released: ";
}

.game-preview-summary {
    font-size: 50%;
    overflow: auto;
}

@keyframes fade {
    0% {transform: translateY(100%); opacity: 1;}
    75% {transform: translateY(0%); opacity: 0.7;}
    100% {transform: translateY(-25%); opacity: 0;}
}

@keyframes wiggle {
    0% {transform: rotate(3deg);}
    50% {transform: rotate(-3deg);}
    100% {transform: rotate(3deg);}
}

@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(calc(-100% - 10px), 0); } /* End the animation after the element has traveled to the left its entire width and then 10 more px to put it past the padding */
}

@keyframes marquee-header {
    0% { transform: translate(0, -100%); }
    100% { transform: translate(calc(-100% - 10px), -100%); } /* End the animation after the element has traveled to the left its entire width and then 10 more px to put it past the padding */
}

@media only screen and (max-width: 970px) {
    #functions {
        width: 230px;
        transform: translateX(90%);
    }
    #game-functions, #save-functions, #more-functions {
        padding: 8px 0;
        width: 220px;
    }
    .game-preview {
        display: none !important;
    }
}

@media only screen and (max-width: 835px) {
    h1 {
        top: 20%;
        font-size: 30px;
    }
    #systems {
        top: 35%;
    }
    #time, #ip {
        display: none
    }
    .modal input, .dying-modal input {
        min-width: 280px;
        width: 100%;
    }
    .modal > * > label > span, .dying-modal > * > label > span {
        display: block;
    }
    .system img {
        width: 125px;
    }
}


.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */
.fa-rocket:before {
    content: "\f135"; }

.fa-stop:before {
    content: "\f04d"; }

.fa-plus:before {
    content: "\f067"; }

.fa-sync:before {
    content: "\f021"; }

.fa-trash:before {
    content: "\f1f8"; }  

.fa-gamepad:before {
    content: "\f11b"; }

.fa-globe:before {
    content: "\f0ac"; }

.fa-compact-disc:before {
    content: "\f51f"; }

.fa-chevron-down:before {
    content: "\f078"; }

.fa-chevron-left:before {
    content: "\f053"; }

.fa-chevron-right:before {
    content: "\f054"; }

.fa-chevron-up:before {
    content: "\f077"; }

.fa-home:before {
    content: "\f015"; }

.fa-bars:before {
    content: "\f0c9"; }

.fa-desktop:before {
    content: "\f108"; }

.fa-power-off:before {
    content: "\f011"; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("/assets/fa-solid-900.ttf") format("truetype");
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }