@font-face {
    font-family: 'blinker';
    src: url('/assets/Blinker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'blinker', sans-serif;
    background-color: white;
    transition: 1s;
    font-size: 24px;
}

body.modal-open {
    background-color: gray;
}

h1 {
    letter-spacing: 2px;
    position: absolute;
    top: 25%;
    transform: translateY( -100% );
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 60px;
    user-select: none;
}

#systems {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.system {
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX( -50% )translateY( -50% );
    transition: 0.5s;
    opacity: 0.5;
    user-select: none;
}

.system.selected {
    opacity: 1;
}

.system.selected img {
    animation: wiggle 1s infinite;
    transform-origin: center center;
}

.system.no-transition {
    transition: none;
}

.system img {
    width: 175px;
    cursor: pointer;
}

.system.selected .game:not(.above) {
    cursor: pointer;
}

.games {
    height: 0;
    transition: 0.5s;
    margin-top: 20px;
    position: relative;
    top: 0;
    opacity: 0;
    cursor: default;
}

.system.selected .games {
    opacity: 1;
}

.game {
    padding: 10px;
    border-radius: 10px;
    opacity: 0.5;
    transition: 0.5s;
    height: 50px;
    width: 400px;
    user-select: none;
}

.game.selected {
    opacity: 1;
}

.game.above {
    opacity: 0;
}

.game.playing::before {
    content: "\2022";
    padding-right: 5px;
}

.current-save {
    font-size: 70%;
}

.current-save::before {
    content: "save: ";
}

#ip {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}

#ip::before {
    content: "http://";
}

.modal, .dying-modal {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)translateX(-50%);
    padding: 20px;
    left: 50%;
    background-color: white;
    opacity: 0;
    transition: 0.5s;
    border-radius: 25px;
}

.modal-shown, .dying-modal .modal-shown {
    opacity: 1;
}

.modal label, .dying-modal label {
    display: block;
    padding: 5px;
}

.modal label > span, .dying-modal label > span {
    width: 200px;
    display: inline-block;
}

.modal label > input, .modal label > select, .dying-modal label > input, .dying-modal label > select {
    font-size: 24px;
    font-family: blinker;
    margin: 5px 0;
}

.modal button, .dying-modal button, #functions button {
    float: right;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 8px;
    font-family: blinker;
    font-size: 100%;
    margin-left: 10px;
    width: 100px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}

.modal button.inactive, .dying-modal button.inactive, #functions button.inactive {
    opacity: 0.5;
}

.modal h2, .dying-modal h2 {
    text-align: center;
    margin: 10px;
}

.modal .warning, .dying-modal .warning {
    font-style: italic;
    padding: 5px;
    font-size: 80%;
    margin-top: 10px;
}

.toast {
    position: absolute;
    z-index: 1000;
    top: 10%;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 25px;
    opacity: 0;
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
}

.toast-shown {
    opacity: 1;
}

#functions {
    position: absolute;
    padding: 5px;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 700px) {
    h1 {
        top: 15%;
    }
    #systems {
        top: 30%;
    }
    #functions {
        text-align: center;
        padding-left: 0;
        direction: rtl;
    }
    #functions button {
        float: none;
    }
}
@media screen and (max-width: 1100px) {
    #ip {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.screenshot {
    position: absolute;
    width: 20%;
    /*transition: opacity 5s linear, transform 2s;*/
    bottom: 0;
    transform: translateY(100%);
    opacity: 1;
    border-radius: 25px;
    animation: fade 5s;
    animation-timing-function: linear;
}

@keyframes fade {
    0% {transform: translateY(100%); opacity: 1;}
    75% {transform: translateY(0%); opacity: 0.7;}
    100% {transform: translateY(-25%); opacity: 0;}
}

@keyframes wiggle {
    0% {transform: rotate(3deg);}
    50% {transform: rotate(-3deg);}
    100% {transform: rotate(3deg);}
}