@font-face {
    font-family: 'blinker';
    src: url('/assets/Blinker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'blinker', sans-serif;
    background-color: white;
    transition: 1s;
}

body.modal-open {
    background-color: gray;
}

h1 {
    letter-spacing: 2px;
    position: absolute;
    top: 25%;
    transform: translateY( -100% );
    margin: 0;
    width: 100%;
    text-align: center;
}

#systems {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.system {
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX( -50% )translateY( -50% );
    transition: 0.5s;
    opacity: 0.5;
}

.system.selected {
    opacity: 1;
}

.system.no-transition {
    transition: none;
}

.system img {
    width: 100px;
}

.games {
    height: 0;
    transition: 0.5s;
    margin-top: 20px;
    position: relative;
    top: 0;
    opacity: 0;
}

.system.selected .games {
    opacity: 1;
}

.game {
    padding: 10px;
    border-radius: 10px;
    opacity: 0.5;
    transition: 0.5s;
    height: 33px;
}

.game.selected {
    opacity: 1;
}

.game.above {
    opacity: 0;
}

.current-save {
    font-size: 70%;
}

.current-save::before {
    content: "save: ";
}

#ip {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: white;
}

#ip::before {
    content: "http://";
}

.modal {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)translateX(-50%);
    padding: 20px;
    left: 50%;
    background-color: white;
    opacity: 0;
    transition: 0.5s;
    border-radius: 25px;
}

.modal-shown {
    opacity: 1;
}

.modal label {
    display: block;
    padding: 5px;
}

.modal label > span {
    width: 125px;
    display: inline-block;
}

.modal button {
    float: right;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-family: blinker;
    font-size: 13px;
}

.modal h2 {
    text-align: center;
    margin: 10px;
}

.modal .warning {
    font-style: italic;
    padding: 5px;
    font-size: 80%;
    margin-top: 10px;
}