@font-face {
    font-family: 'blinker';
    src: url('/assets/Blinker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'blinker', sans-serif;
    background-color: #191919;
    color: white;
    transition: background-color 1s;
    font-size: 30px;
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
}

body.modal-open {
    background-color: black;
}

h1 {
    letter-spacing: 2px;
    position: absolute;
    top: 25%;
    transform: translateY( -100% );
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 60px;
    user-select: none;
}

#systems {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.system {
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX( -50% )translateY( -50% );
    transition: opacity 0.5s, left 0.5s;
    opacity: 0.5;
    user-select: none;
}

.system.selected {
    opacity: 1;
}

.system.selected img {
    animation: wiggle 1s infinite;
    transform-origin: center center;
}

.system.no-transition {
    transition: none;
}

.system img {
    width: 175px;
    cursor: pointer;
    filter: invert(1);
    position: relative;
    z-index: 100;
}

.system.selected .game:not(.above) {
    cursor: pointer;
}

.games {
    height: 0;
    transition: opacity 0.5s, top 0.5s;
    margin-top: 20px;
    position: relative;
    top: 0;
    opacity: 0;
    cursor: default;
}

.system.selected .games {
    opacity: 1;
}

.game {
    padding: 10px;
    border-radius: 10px;
    opacity: 0.5;
    transition: opacity 0.5s;
    height: 50px;
    width: 400px;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.game.selected {
    opacity: 1;
}

.game.above {
    opacity: 0;
}

.game.playing::before {
    content: "\2022";
    padding-right: 5px;
}

.current-save {
    font-size: 70%;
}

.current-save::before {
    content: "save: ";
}

#ip {
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
}

#ip::before {
    content: "http://";
}

#time {
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    user-select: none;
}

.modal, .dying-modal {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)translateX(-50%);
    left: 50%;
    background-color: #191919;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 25px;
    max-height: 80%;
    overflow: auto;
    max-width: 100vw;
    box-sizing: border-box;
}

.modal > div, .dying-modal > div {
    padding: 20px;
}

.modal > div::after, .dying-modal > div::after {
    clear: both;
    content: " ";
    display: block;
}

.modal-shown, .dying-modal .modal-shown {
    opacity: 1;
}

.modal label, .dying-modal label {
    display: block;
    padding: 5px;
}

.modal label > span, .dying-modal label > span {
    width: 205px;
    display: inline-block;
}

.modal label > input, .modal label > select, .dying-modal label > input, .dying-modal label > select {
    font-size: 24px;
    font-family: blinker;
    margin: 5px 0;
}

.modal button, .dying-modal button, #functions button {
    float: right;
    margin-top: 2px;
    background-color: white;
    color: #191919;
    border-radius: 5px;
    padding: 8px;
    font-family: blinker;
    font-size: 100%;
    margin-left: 10px;
    width: 220px;
    cursor: pointer;
    transition: opacity 0.5s;
    border: none;
}

#functions button {
    display: inline-block;
    float: none;
}

.modal button.inactive, .dying-modal button.inactive, #functions button.inactive {
    opacity: 0.5;
}

.modal h2, .dying-modal h2 {
    text-align: center;
    margin: 10px;
}

.modal .warning, .dying-modal .warning {
    font-style: italic;
    padding: 5px;
    font-size: 80%;
    margin-top: 10px;
}

.toast {
    position: absolute;
    z-index: 1000;
    top: 10%;
    padding: 20px;
    background-color: white;
    color: #191919;
    border-radius: 25px;
    opacity: 0;
    transition: opacity 0.5s;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.toast-shown {
    opacity: 1;
}

#functions {
    position: absolute;
    padding: 5px;
    bottom: 0;
    right: 0;
    text-align: center;
    transform: translateX(98%);
    transition: transform 0.5s;
}

#functions.open {
    transform: translateX(0);
}

.screenshot {
    position: absolute;
    width: 20%;
    bottom: 0;
    transform: translateY(100%);
    opacity: 1;
    border-radius: 25px;
    animation: fade 5s;
    animation-timing-function: linear;
    pointer-events: none;
    user-select: none;
}

#browser-controls-form {
    position: relative;
    min-width: 900px;
}

#browser-controls-form #stream {
    position: relative;
    margin: 0 auto;
    display: block;
    clear: both;
}

#browser-controls-form #scroll-up, #browser-controls-form #scroll-down, 
#browser-controls-form #go-back, #browser-controls-form #go-forward {
    width: 80px;
    position: absolute;
    height: 58px;
    margin: 0;
}

#browser-controls-form #scroll-up, #browser-controls-form #scroll-down {
    left: calc(50% + 360px);
}

#browser-controls-form #scroll-up {
    bottom: 366px;
}

#browser-controls-form #scroll-down {
    bottom: 37px;
}

#browser-controls-form #go-back, #browser-controls-form #go-forward {
    transform: translateX(-100%);
    left: calc(50% - 360px);
}

#browser-controls-form #go-back {
    bottom: 366px;
}

#browser-controls-form #go-forward {
    bottom: 295px;
}

#browser-controls-form #address-bar {
    min-width: calc( 100% - 205px );
}

#browser-controls-form #browser-tabs {
    clear: both;
    margin: 5px;
    padding-top: 15px;
    margin-bottom: 0;
}

#browser-controls-form .browser-tab.active {
    opacity: 1;
}

#browser-controls-form .browser-tab, #browser-controls-form #add-tab {
    display: inline-block;
    width: 150px;
    font-size: 60%;
    color: #191919;
    background-color: white;
    opacity: 0.5;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    height: 21px;
    padding-right: 20px;
    position: relative;
    transition: opacity 0.5s;
}

#browser-controls-form #add-tab {
    width: 21px;
    padding-right: 8px;
    text-align: center;
    opacity: 1;
}

#browser-controls-form .browser-tab-quit {
    float: right;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes fade {
    0% {transform: translateY(100%); opacity: 1;}
    75% {transform: translateY(0%); opacity: 0.7;}
    100% {transform: translateY(-25%); opacity: 0;}
}

@keyframes wiggle {
    0% {transform: rotate(3deg);}
    50% {transform: rotate(-3deg);}
    100% {transform: rotate(3deg);}
}

@media screen and (max-width: 700px) {
    h1 {
        top: 15%;
    }
    #systems {
        top: 30%;
    }
}

@media only screen and (max-width: 2400px) {
    #functions {
        width: 240px;
        transform: translateX(90%);
    }
}

@media only screen and (max-width: 500px) {
    #time, #ip {
        display: none
    }
    input {
        min-width: 280px;
        width: 100%;
    }
    .modal label > span, .dying-modal label > span {
        display: block;
    }
    .system img {
        width: 125px;
    }
}
